[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
isort = "*"
pbr = "*"
pytest = "*"
pytest-asyncio = "*"
pytest-cov = "*"
pytest-env = "*"
pytest-deadfixtures = "*"
pytest-html = "*"
pytest-mock = "*"
pytest-randomly = "*"
pytest-sugar = "*"
freezegun = "*"
yapf = "*"
s3cmd = "*"
coverage-badge = "*"

[packages]
dynaconf = {extras = ["vault"], version = "*"}

[requires]
python_version = "3.8"

[scripts]
test = "py.test --ff --cov dypendence"
check-fixtures = "py.test dypendence --dead-fixtures --dup-fixtures"
check-yapf = "yapf -d -r -p dypendence"
fix-yapf = "yapf -i -r -p dypendence"
check-isort = "isort -c dypendence"
fix-isort = "isort dypendence"
check-code-style = "flake8 dypendence"
make-badge = "coverage-badge -o ./coverage.svg"
